/* navbar */
.navbar-fixed-top{
	color:#f9f7ff;
	background-color:#ba3e17;
	font-family:vivaldi;	
    box-shadow: 0px 0px 20px #000000;

}
/*----------------------------------*/
body,html
{
	height:100%;
}

/*----------------------------------*/
#bommai{
	border-radius:100%;
}

/*----------------------------------*/
.charf{
	margin-top:10px;margin-left:30px;padding-right:20px;
}
input[type=radio] {
    border: 0px;
    width: 1.5em;
    height: 1.5em;
}
h1{	
	text-align:center;
	font-size:40px;
}

/* Addition and subraction buttons */
.add,.sub1,.sub2,.sub3,.sub4{
	border-radius:100%;
	border:0px;
	padding:15px;width:50px;
    background-color:#ee9a00;
	font-weight:bold;outline:none;
}
/*End */

/* Customer details*/
.info{   
    padding:0px;	
	height:auto;
	display:block;
	position:relative;
	background-color:#ecffaa;
}
label
{   
	font-family:vivaldi;
	font-size:40px;
	color:#0f9d58;
	visibility:hidden;
	margin-left:300px;
}
#Email,#phone,#name1,#receive1,#receive2{
	font-size:18px;
	border:0px;box-shadow: 0px 0px 20px #000000;
	padding:10px;
	position:relative;
	color:black;
	border-radius:45px;
	outline:none;
	width:317px;
}
#receive1,#receive2
{ 
    margin-top:30px;
    padding: 10px;
}
#text{
	font-size:18px;
	border:0px;
	padding:15px;
	position:relative;box-shadow: 0px 0px 20px #000000;
	outline:none;
	width:315px;
	border-radius:45px;
	height:100px;
	vertical-align:middle;
}
#subm {
  font-family:arial;border-radius:45px;
  color:#ecffce;
  background-color:#0f9d58;
  font-size: 20px;
  padding: 10px 5px 10px 5px;box-shadow: 0px 0px 20px #000000;
  margin-top:30px;
  border:0px;
  outline:none;
}
#subm:hover{
	background:#ffffff;
	color:#000000;
   -webkit-box-shadow: 1px 1px 3px 2px #ee9a00;
  box-shadow:         1px 1px 3px 2px #ee9a00;
}
.frad{
	border:0px;
	padding:0px;
    display:inline;
	margin:0;
	width:317px;
}
.rad{
	color:#ecffce;
	}
.pr_in{
	padding:15px;
	border-radius:100%;
	border:0px;
    font-weight:bold;
	width:50px;
    font-size:15px;
	background-color:#ecffce;
    outline:none;
    text-align:center;
}
img{
	transition : width 1s,height 1s,transform 1s,border-radius 1s;
}
/* Hover function for pics */
.contain1:hover .box1{
	visibility:visible;
	background-color:black;
}
/* Description of pics to be described*/

.box1,.box2,.box3,.box4 {
	top:30%;
    position:fixed;
    border: 0;
	visibility:hidden;
    background-color: red;
    height: auto;
    width: 50%;
	left:25%;
	right:25%;
    color: white;
    padding: 100px;
    text-align: center;
    font-size: 40px;
}

/* ---------------------------------*/

/*Hover for buttons*/
	
.pr_in:hover,.add:hover,.sub1:hover,.sub2:hover,.sub3:hover,.sub4:hover
{
    background-color:#ffffff;
	 box-shadow:1px 1px 3px 2px #ee9a00;
	
	 color:#ee9a00
}
 #but{
   margin-top:20px;
   margin-bottom:20px;
  }
 #but1
 {
	margin-left:10%; 
   }
  #but1,#but,#shop{
   outline:none;
   font-size:25px;
   font-family:vivaldi;
   background-color:#0f9d58;
   color:#ecffce;
   border:0px;
   padding:5px;
   margin-top:10px;
   border-radius:45px;
   box-shadow: 0px 0px 20px #000000; 
  }
  #but:hover,#shop:hover,#but1:hover
     {
       -webkit-box-shadow: 1px 1px 3px 2px #ee9a00;
      box-shadow:         1px 1px 3px 2px #ee9a00;
      background-color:#b2c9a9;
	   border-radius:0px;
     }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
           margin: 0; 
     }

/* ---------------------------------*/

.contained{
	   
	   margin-top:65px;	   
	   position:relative;
        width:auto;
	   height:100%;
	   min-width:800px;
	   background-color:#ecffca;
    }
  ul {
    position:relative;
    list-style-type: none;
    margin-top:20px;
    padding: 0px;
	background-color:#ecffce;
	height:auto;
    max-width:100%;
	min-width:800px;
	display:flex;
	direction:ltr nowrap;	/*flex-flow*/
  }
  #col1{
      flex-grow:1;
	   }
  #col2{
      flex-grow:2;
     }
 #col3{
      flex-grow:1;
 }
 .charf
 {
   margin-left:10px;
  }
 
footer
{
	-webkit-box-shadow: -4px -12px 56px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px -12px 56px 0px rgba(0,0,0,0.75);
    box-shadow: -4px -12px 56px 0px rgba(0,0,0,0.75);
}